<!DOCTYPE html>
<html lang="en">
	<head>

	</head>
	<body>
		<div class="container">
			<div class ="table-responsive">
        		<table class="table">
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ country_A }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ country_B }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ winner }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ location }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ match_date }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ score }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ match_num }}</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>