<!DOCTYPE html>
<html lang="en">
	<head>

	</head>
	<body>
		<div class="container">
			<div class ="table-responsive">
        		<table class="table">
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ full_name }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ sur_name }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ country }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ clubname }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ position }}</td>
					</tr>
					<tr>
						<td class="text-center list-td" style="border-top:none">{{ birth_date }}</td>
					</tr>
				</table>
			</div>
		</div>

	</body>
</html>