{% extends 'base.html' %}

{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
    <h1>
        Wed, Jul 9, 3:00 PM on ESPN • Semi-finals
        <br><br>
        Arena Corinthians, São Paulo
        <br><br>
        Netherlands vs <a href={% url "argentina" %}>Argentina</a>

    </h1>

    <div style="background-image:url(http://i.imgur.com/KfdrLhW.jpg);width:1000px;height:555px;color:black;font-size:18px;margin:auto;">
    </div>
</div>
{% endblock %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Argentina vs Netherlands Match!!!!</h1>
        <p>have to watch this game on Wednesday!!!!</p>
      </div>
    </div>

{% endblock %}