{% extends 'base.html' %}

{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
    <div class="well well-sm">
        <h1>
            Wed, Jul 9, 3:00 PM on ESPN • Semi-finals
            <br><br>
            Arena Corinthians, São Paulo
            <br><br>
            Netherlands vs <a href={% url "argentina" %}>Argentina</a>
        </h1>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/jIDtPQeD4Gw" allowfullscreen=""></iframe>
        </div>

    </div>
</div>

<!-- there is an alignment issue with the wells. the small well overlaps the large
well. the large well extends to top of page for some reason -->

<!-- <div class="well well-lg"> -->
    <img class="img-responsive" alt="Responsive image" style ="margin:auto;" src="http://i.imgur.com/KfdrLhW.jpg">
<!-- </div> -->

{% endblock %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Argentina vs Netherlands Match!!!!</h1>
        <p>have to watch this game on Wednesday!!!!</p>
      </div>
    </div>

{% endblock %}