{% extends 'base.html' %}

{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
    <h1>
        Tue, Jul 8, 3:00 PM on ESPN • Semi-finals
        <br><br>
        Estádio Mineirão, Belo Horizonte
        <br><br>
        <a href={% url "brazil" %}>Brazil</a> 0 - 7 <a href={% url "germany" %}>Germany</a>
        <br>
    </h1>

        <div style="background-image:url(http://i.imgur.com/LzCsxjq.jpg);width:1000px;height:555px;color:black;font-size:18px;margin:auto;">
    </div>
</div>
{% endblock %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Brazil vs Germany!!!</h1>
        <p>Host country loses.</p>
      </div>
    </div>

{% endblock %}