{% extends 'base.html' %}

{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
     <div class="well well-sm">
        <h1>
            Tue, Jul 8, 3:00 PM on ESPN • Semi-finals
            <br><br>
            Estádio Mineirão, Belo Horizonte
            <br><br>
            <a href={% url "brazil" %}>Brazil</a> 0 - 7 <a href={% url "germany" %}>Germany</a>
            <br>
        </h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/100265169" allowfullscreen="">
            </iframe>
        </div>
    </div>
</div>

<!-- there is an alignment issue with the wells. the small well overlaps the large
well. the large well extends to top of page for some reason -->

<!-- <div class="well well-lg"> -->
    <img class="img-responsive" alt="Responsive image" style ="margin:auto;" src="http://i.imgur.com/LzCsxjq.jpg">
<!-- </div> -->

{% endblock %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Brazil vs Germany!!!</h1>
        <p>Host country loses.</p>
      </div>
    </div>

{% endblock %}