{% extends 'base.html' %}


{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Brazil: BRA</h1>
        <p>Brazil is the host country of the World Cup 2014.</p>
      </div>
    </div>

{% endblock %}


{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
    <h4>
     
     <li><a href={% url "neymar" %}>10 NEYMARForwardBrazil</a></li>
<br><br>
<li>1 JEFFERSONGoalkeeperBrazil</li>
<li>2 Dani ALVESDefenderBrazil</li>
<li>3 Thiago SILVADefenderBrazil</li>
<li>4 DAVID LUIZDefenderBrazil</li>
<li>5 FERNANDINHOMidfielderBrazil</li>
<li>6 MARCELODefenderBrazil</li>
<li>7 HULKForwardBrazil</li>
<li>8 PAULINHOMidfielderBrazil</li>
<li>9 FREDForwardBrazil</li>
<li>11 OSCARMidfielderBrazil</li>
<li>12 JULIO CESARGoalkeeperBrazil</li>
<li>13 DANTEDefenderBrazil</li>
<li>14 MAXWELLDefenderBrazil</li>
<li>15 HENRIQUEDefenderBrazil</li>
<li>16 RAMIRESMidfielderBrazil</li>
<li>17 LUIZ GUSTAVOMidfielderBrazil</li>
<li>18 HERNANESMidfielderBrazil</li>
<li>19 WILLIANMidfielderBrazil</li>
<li>20 BERNARDForwardBrazil</li>
<li>21 JOForwardBrazil</li>
<li>22 VICTORGoalkeeperBrazil</li>
<li>23 MAICONDefenderBrazil</li>
<li>SCOLARI Luiz FelipeCoach (BRA)</li>
    </h4>
</div>
{% endblock %}