{% extends 'base.html' %}
{% block jumbotron %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Brazil: BRA</h1>
      <p>Brazil is the host country of the World Cup 2014.</p>
    </div>
  </div>
  <!-- Custom styles for this template -->
  <link href="/static/css/bra.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <center>
 
  <!-- tweets -->
  <a class="twitter-timeline" height="450" href="https://twitter.com/search?q=brazil+world+cup" data-widget-id="486942612989833216">Tweets about "brazil world cup"</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </center>
  <div class= 'col-sm-12' style= 'text-align: center'>
    <h4>
    <br>
    <br>
    <table class="table table-striped">
      <!--       <tr>
        <td>Brazil</td>
      </tr> -->
      <tr>
        <td>10</td>
        <td><a href={% url "neymar" %}>NEYMAR Jr.</a></td>
        <td>Forward</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Jefferson</td>
        <td>Goalkeeper</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Dani ALVES</td>
        <td>Defender</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Thiago SILVA</td>
        <td>Defender</td>
      </tr>
      <tr>
        <td>4</td>
        <td>DAVID LUIZ</td>
        <td>Defender</td>
      </tr>
      <tr>
        <td>5</td>
        <td>FERNANDINHO</td>
        <td>Midfielder</td>
      </tr>
      <tr>
        <td>6</td>
        <td>MARCELO</td>
        <td>Defender</td>
      </tr>
      <tr>
        <td>7</td>
        <td>HULK</td>
        <td>Forward</td>
      </tr>
      <tr>
        <td>8</td>
        <td>PAULINHO</td>
        <td>Midfielder</td>
      </tr>
      <td>9</td>
      <td>FRED</td>
      <td>Forward</td>
    </tr>
    <tr>
      <td>11</td>
      <td>OSCAR</td>
      <td>Midfielder</td>
    </tr>
    <tr>
      <td>12</td>
      <td>JULIO CESAR</td>
      <td>Goalkeeper</td>
    </tr>
    <tr>
      <td>13</td>
      <td>DANTE</td>
      <td>Defender</td>
    </tr>
    <tr>
      <td>14</td>
      <td>MAXWELL</td>
      <td>Defender</td>
    </tr>
    <tr>
      <td>15</td>
      <td>HENRIQUE</td>
      <td>Defender</td>
    </tr>
    <tr>
      <td>16</td>
      <td>RAMIRES</td>
      <td>Midfielder</td>
    </tr>
    <tr>
      <td>17</td>
      <td>LUIZ GUSTAVO</td>
      <td>Midfielder</td>
    </tr>
    <tr>
      <td>18</td>
      <td>HERNANES</td>
      <td>Midfielder</td>
    </tr>
    <tr>
      <td>19</td>
      <td>WILLIAN</td>
      <td>Midfielder</td>
    </tr>
    <tr>
      <td>20</td>
      <td>BERNARD</td>
      <td>Forward</td>
    </tr>
    <tr>
      <td>21</td>
      <td>JO</td>
      <td>Forward</td>
    </tr>
    <tr>
      <td>22</td>
      <td>VICTOR</td>
      <td>Goalkeeper</td>
    </tr>
    <tr>
      <td>23</td>
      <td>MAICON</td>
      <td>Defender</td>
    </tr>
    <tr>
      <td>-</td>
      <td>SCOLARI Luiz Felipe</td>
      <td>Coach</td>
    </tr>
  </table>
  </h4>
</div>
<center>
   <iframe width="80%" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=Brazil&key=AIzaSyDZQEI-0qREquMzHQf8Gl6Z2zYt_YBjrmQ"></iframe>
</center>
{% endblock %}