{% extends 'base.html' %}


{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Brazil: BRA</h1>
        <p>Brazil is the host country of the World Cup 2014.</p>
      </div>
    </div>

{% endblock %}


{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
    <h4>
     
     <li><a href={% url "neymar" %}>10 NEYMARForwardBrazil</a></li>
<br><br>

1
JEFFERSONGoalkeeperBrazil
2
Dani ALVESDefenderBrazil
3
Thiago SILVADefenderBrazil
4
DAVID LUIZDefenderBrazil
5
FERNANDINHOMidfielderBrazil
6
MARCELODefenderBrazil
7
HULKForwardBrazil
8
PAULINHOMidfielderBrazil
9
FREDForwardBrazil


11
OSCARMidfielderBrazil
12
JULIO CESARGoalkeeperBrazil
13
DANTEDefenderBrazil
14
MAXWELLDefenderBrazil
15
HENRIQUEDefenderBrazil
16
RAMIRESMidfielderBrazil
17
LUIZ GUSTAVOMidfielderBrazil
18
HERNANESMidfielderBrazil
19
WILLIANMidfielderBrazil
20
BERNARDForwardBrazil
21
JOForwardBrazil
22
VICTORGoalkeeperBrazil
23
MAICONDefenderBrazil
SCOLARI Luiz FelipeCoach (BRA)

    </h4>
</div>
{% endblock %}