{% extends 'base.html' %}

{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
    <h1>
        <li><a href={% url "brazil" %}>Brazil</a></li>
        <br><br>
        <li><a href={% url "argentina" %}>Argentina</a></li>
        <br><br>
        <li><a href={% url "germany" %}>Germany</a></li>
    </h1>
</div>
{% endblock %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Participating Countries</h1>
        <p>Host Country: Brazil</p>
      </div>
    </div>

{% endblock %}