{% extends 'base.html' %}

{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
    <h1>
        Full-time • Group G
        <br><br>

        Arena Pernambuco, Recife
        <br><br>
        United States 0 - 1  <a href={% url "germany" %}>Germany</a>
    </h1>
</div>
{% endblock %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>United States vs Germany!!</h1>
        <p>blah blah ~~</p>
      </div>
    </div>

{% endblock %}