{% extends 'base.html' %}


{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Germany: GER</h1>
        <p>germany</p>
      </div>
    </div>

            <!-- Custom styles for this template -->
        <link href="/static/css/ger.css" rel="stylesheet">
{% endblock %}


{% block content %}
<center>
    <iframe width="600" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=Germany&key=AIzaSyDZQEI-0qREquMzHQf8Gl6Z2zYt_YBjrmQ"></iframe>

    <a class="twitter-timeline" height = "450" href="https://twitter.com/search?q=germany+world+cup" data-widget-id="486942612989833216">Tweets about "germany world cup"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



</center>
<div class= 'col-sm-12' style= 'text-align: center'>
    <h4>
<br><br>
<table class="table table-striped">

    <tr>
        <td>13</td> 
        <td><a href={% url "muller" %}>Thomas MUELLER</a></td> 
        <td>Forward</td> 
    </tr>

    <tr>
        <td>1</td> 
        <td>Manuel Neuer</td> 
        <td>Goalkeeper</td> 
    </tr>

    <tr>
        <td>2</td> 
        <td>Kevin Grosskreutz</td> 
        <td>Defender</td> 
    </tr>
    <tr>
        <td>3</td> 
        <td>Matthias GINTER</td> 
        <td>Defender</td> 
    </tr>

    <tr>
        <td>4</td> 
        <td>Benedikt HOEWEDES</td> 
        <td>Defender</td> 
    </tr>

    <tr>
        <td>5</td> 
        <td>Mats HUMMELS</td> 
        <td>Defender</td> 
    </tr>

    <tr>
        <td>6</td> 
        <td>Sami KHEDIRA</td> 
        <td>Midfielder</td> 
    </tr>

    <tr>
        <td>7</td> 
        <td>Bastian SCHWEINSTEIGER</td> 
        <td>Midfielder</td> 
    </tr>

    <tr>
        <td>8</td> 
        <td>Mesut OEZIL</td> 
        <td>Midfielder</td> 
    </tr>

    <tr>
        <td>9</td> 
        <td>Andre SCHUERRLE</td> 
        <td>Forward</td> 
    </tr>

    <tr>
        <td>10</td> 
        <td>Lukas PODOLSKI</td> 
        <td>Forward</td> 
    </tr>

    <tr>
        <td>11</td> 
        <td>Miroslav KLOSE</td> 
        <td>Forward</td> 
    </tr>

    <tr>
        <td>12 </td> 
        <td>Ron-Robert ZIELER</td> 
        <td>Goalkeeper</td> 
    </tr>

    <tr>
        <td>14</td> 
        <td>Julian DRAXLER</td> 
        <td>Midfielder</td> 
    </tr>

    <tr>
        <td>15</td> 
        <td>Erik DURM</td> 
        <td>Defender</td> 
    </tr>

    <tr>
        <td>16 </td> 
        <td>Philipp LAHM</td> 
        <td>Midfielder</td> 
    </tr>

    <tr>
        <td>17</td> 
        <td>Per MERTESACKER</td> 
        <td>Defender</td> 
    </tr>

    <tr>
        <td>18</td> 
        <td>Toni KROOS</td> 
        <td>Midfielder</td> 
    </tr>

    <tr>
        <td>19</td> 
        <td>Mario GOETZE</td> 
        <td>Forward</td> 
    </tr>
 
     <tr>
        <td>20</td> 
        <td>Jerome BOATENG</td> 
        <td>Defender</td> 
    </tr>

    <tr>
        <td>21</td> 
        <td>Shkodran MUSTAFI</td> 
        <td>Defender</td> 
    </tr>

    <tr>
        <td>22</td> 
        <td>Roman WEIDENFELLER</td> 
        <td>Goalkeeper</td> 
    </tr>

    <tr>
        <td>23</td> 
        <td>Christoph KRAMER</td> 
        <td>Midfielder</td> 
    </tr>

    <tr>
        <td>-</td> 
        <td>LOEW Joachim</td> 
        <td>Coach</td> 
    </tr>

</table>
    </h4>
</div>
{% endblock %}