{% extends 'base.html' %}


{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Germany: GER</h1>
        <p>germany</p>
      </div>
    </div>

{% endblock %}


{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
    <h4>
    <li><a href={% url "muller" %}>13 Thomas MUELLERForwardGermany</a></li>
<br><br>

<li>1 Manuel NEUERGoalkeeperGermany</li>
<li>2 Kevin GROSSKREUTZDefenderGermany</li>
<li>3 Matthias GINTERDefenderGermany</li>
<li>4 Benedikt HOEWEDESDefenderGermany</li>
<li>5 Mats HUMMELSDefenderGermany</li>
<li>6 Sami KHEDIRAMidfielderGermany</li>
<li>7 Bastian SCHWEINSTEIGERMidfielderGermany</li>
<li>8 Mesut OEZILMidfielderGermany</li>
<li>9 Andre SCHUERRLEForwardGermany</li>
<li>10 Lukas PODOLSKIForwardGermany</li>
<li>11 Miroslav KLOSEForwardGermany</li>
<li>12 Ron-Robert ZIELERGoalkeeperGermany</li>
<li>14 Julian DRAXLERMidfielderGermany</li>
<li>15 Erik DURMDefenderGermany</li>
<li>16 Philipp LAHMMidfielderGermany</li>
<li>17 Per MERTESACKERDefenderGermany</li>
<li>18 Toni KROOSMidfielderGermany</li>
<li>19 Mario GOETZEForwardGermany</li>
<li>20 Jerome BOATENGDefenderGermany</li>
<li>21 Shkodran MUSTAFIDefenderGermany</li>
<li>22 Roman WEIDENFELLERGoalkeeperGermany</li>
<li>23 Christoph KRAMERMidfielderGermany</li>
<li> LOEW JoachimCoach (GER)</li>

    </h4>
</div>
{% endblock %}