{% extends 'base.html' %}


{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Germany: GER</h1>
        <p>germany</p>
      </div>
    </div>

{% endblock %}


{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
    <h4>
    <li><a href={% url "muller" %}>13 Thomas MUELLERForwardGermany</a></li>
<br><br>
1
Manuel NEUERGoalkeeperGermany
2
Kevin GROSSKREUTZDefenderGermany
3
Matthias GINTERDefenderGermany
4
Benedikt HOEWEDESDefenderGermany
5
Mats HUMMELSDefenderGermany
6
Sami KHEDIRAMidfielderGermany
7
Bastian SCHWEINSTEIGERMidfielderGermany
8
Mesut OEZILMidfielderGermany
9
Andre SCHUERRLEForwardGermany
10
Lukas PODOLSKIForwardGermany
11
Miroslav KLOSEForwardGermany
12
Ron-Robert ZIELERGoalkeeperGermany
14
Julian DRAXLERMidfielderGermany
15
Erik DURMDefenderGermany
16
Philipp LAHMMidfielderGermany
17
Per MERTESACKERDefenderGermany
18
Toni KROOSMidfielderGermany
19
Mario GOETZEForwardGermany
20
Jerome BOATENGDefenderGermany
21
Shkodran MUSTAFIDefenderGermany
22
Roman WEIDENFELLERGoalkeeperGermany
23
Christoph KRAMERMidfielderGermany
LOEW JoachimCoach (GER)


    </h4>
</div>
{% endblock %}