{% extends 'base.html' %}

{% block content %}
<div class= 'col-sm-12' style= 'text-align: center'>
    <h1>
        This is the matches page

        <li><a href={% url "bra_ger" %}>Brazil vs Germany</a></li>
        <li><a href={% url "ger_usa" %}>Germany vs USA</a></li>
        <li><a href={% url "arg_ned" %}>Argentina vs Netharlands</a></li>

    </h1>
</div>
{% endblock %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Matches</h1>
        <p>Current and Past Matches</p>
      </div>
    </div>

{% endblock %}