{% extends 'base.html' %}

{% block jumbotron %}

<link href="http://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/bootstrap.css" rel="stylesheet">

<link href="http://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/carousel.css" rel="stylesheet">

  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/ea_fifa_banner.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>World Cup Central</h1>
              <p>The definitive Source for all things world cup
                <br>
                Built by: F.C. Team Possible
                <br>
                Members: Aseal, Eros, Jeremiah, Jungmo, Kim Yu, and Prithvi
                <br><br>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/homebg.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>World Cup Central</h1>
              <p>The definitive Source for all things world cup
                <br>
                Built by: F.C. Team Possible
                <br>
                Members: Aseal, Eros, Jeremiah, Jungmo, Kim Yu, and Prithvi
                <br><br>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/fifa_trophy.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>World Cup Central</h1>
              <p>The definitive Source for all things world cup
                <br>
                Built by: F.C. Team Possible
                <br>
                Members: Aseal, Eros, Jeremiah, Jungmo, Kim Yu, and Prithvi
                <br><br>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/homebg2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>World Cup Central</h1>
              <p>The definitive Source for all things world cup
                <br>
                Built by: F.C. Team Possible
                <br>
                Members: Aseal, Eros, Jeremiah, Jungmo, Kim Yu, and Prithvi
                <br><br>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


     <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <center>

              <img class="img-circle img-responsive" style="width: 140px; height: 140px;" src="http://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/bra_globe.png" alt="Generic placeholder image"></img>

          </center>
          <h2>Countries</h2>
          <br>
          <p><a class="btn btn-default" href={% url "countries" %} role="button">All Countries &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <center>

              <img class="img-circle img-responsive" style="width: 140px; height: 140px;" src="http://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/nike_players.png" alt="Generic placeholder image"></img>

          </center>
          <h2>Players</h2>
          <br>
          <p><a class="btn btn-default" href={% url "players" %} role="button">All Players &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <center>

              <img class="img-circle img-responsive" style="width: 140px; height: 140px;" src="http://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/matches.png" alt="Generic placeholder image"></img>

          </center>
          <h2>Matches</h2>
          <br>
          <p><a class="btn btn-default" href={% url "matches" %} role="button">All Matches &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->



{% endblock %}



